<?xml version="1.0" encoding="utf-8"?>
<CONTAINER ID="2" NAME="Projeto" IDDOCUMENTOCONTAINERATUAL="2\0">
  <DOCUMENTS>
    <DOCUMENT FOLDER="document0" IDCODON="sugestao" DESCRIPTION="AREA DE SERVIÇO" />
    <DOCUMENT FOLDER="document1" IDCODON="impressao" DESCRIPTION="ACABAMENTOS" />
    <DOCUMENT FOLDER="document2" IDCODON="impressao" DESCRIPTION="PLANTA BAIXA" />
    <DOCUMENT FOLDER="document3" IDCODON="impressao" DESCRIPTION="PLANTA BAIXA [1]" />
    <DOCUMENT FOLDER="document4" IDCODON="impressao" DESCRIPTION="VISTA A" />
    <DOCUMENT FOLDER="document5" IDCODON="impressao" DESCRIPTION="VISTA A - PORTAS ABERTAS" />
    <DOCUMENT FOLDER="document6" IDCODON="impressao" DESCRIPTION="VISTA A - PORTAS ABERTAS [1]" />
    <DOCUMENT FOLDER="document7" IDCODON="impressao" DESCRIPTION="VISTA B" />
    <DOCUMENT FOLDER="document8" IDCODON="impressao" DESCRIPTION="VISTA B [1]" />
    <DOCUMENT FOLDER="document9" IDCODON="impressao" DESCRIPTION="VISTA C" />
    <DOCUMENT FOLDER="document10" IDCODON="impressao" DESCRIPTION="VISTA C [1]" />
  </DOCUMENTS>
  <CONTAINERS />
  <METADATAMANAGER>
    <METADATACOLLECTION />
  </METADATAMANAGER>
</CONTAINER>