<?xml version="1.0" encoding="utf-8"?>
<CONTAINER ID="2" NAME="Projeto" IDDOCUMENTOCONTAINERATUAL="2\0">
  <DOCUMENTS>
    <DOCUMENT FOLDER="document0" IDCODON="sugestao" DESCRIPTION="VARANDA" />
    <DOCUMENT FOLDER="document1" IDCODON="impressao" DESCRIPTION="ACABAMENTOS" />
    <DOCUMENT FOLDER="document2" IDCODON="impressao" DESCRIPTION="PLANTA PERSPECTIVA" />
    <DOCUMENT FOLDER="document3" IDCODON="impressao" DESCRIPTION="PLANTA BAIXA" />
    <DOCUMENT FOLDER="document4" IDCODON="impressao" DESCRIPTION="VISTA A PERSPECTIVA" />
    <DOCUMENT FOLDER="document5" IDCODON="impressao" DESCRIPTION="VISTA A PERSPECTIVA [1]" />
    <DOCUMENT FOLDER="document6" IDCODON="impressao" DESCRIPTION="VISTA A " />
    <DOCUMENT FOLDER="document7" IDCODON="impressao" DESCRIPTION="VISTA B PERSPECTIVA" />
    <DOCUMENT FOLDER="document8" IDCODON="impressao" DESCRIPTION="VISTA B " />
  </DOCUMENTS>
  <CONTAINERS />
  <METADATAMANAGER>
    <METADATACOLLECTION />
  </METADATAMANAGER>
</CONTAINER>