<?xml version="1.0" encoding="utf-8"?>
<CONTAINER>
  <DOCUMENTS>
    <DOCUMENT FOLDER="document1" IDCODON="dadosCliente" DESCRIPTION="Dados do Cliente" />
  </DOCUMENTS>
  <CONTAINERS>
    <CONTAINER FOLDER="container1" IDCODON="Projeto" />
  </CONTAINERS>
  <METADATAMANAGER>
    <METADATACOLLECTION>
      <METADATA ID="CustomerNumber" VALUE="7" />
    </METADATACOLLECTION>
  </METADATAMANAGER>
  <INFORMACOESADICIONAIS>
    <PROJECTGUID GUID="1d795a8f-5c29-4682-9cdc-6b182fdf3f2a" />
  </INFORMACOESADICIONAIS>
</CONTAINER>